.panel {
  background-color: #232f3e;
  height: 39px;
  display: flex;
  padding-left: 11px;
}
.panel-menu {
  width: 60px;
  color: white;
  font-size: 1rem;
  padding: 8px 9px;

}
.panel-all {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.panel-opt {
  display: flex;
  color: white;
  align-items: center;
  cursor: pointer;

  font-size: 14px;
}
.panel-opt p {
  padding: 9px 9px;
  margin-top: 5px;
  margin-bottom: 4px;
  font-weight: 600;
}
