/* box 4 */
.cart-img6 {
  top: 6px;
}
.imgs6 {
  width: 167px;
  height: 108px;
  margin: 9px;
}
.img-title6 {
  top: 0px;
  justify-content: space-around;
}
.cart-img7 {
  top: 31px;
}
.imgs7 {
  width: 167px;
  height: 117px;
  margin: 9px;
}
.img-title7 {
  top: 24px;
  justify-content: space-around;
}
.extra-info4 {
  top: 45px;
  left: 28px;
}
